<h4>{{title}}</h4>
<ul class="thumbnails">
    <li ng-repeat="task in tasks">
        <task class="thumbnail {{task.status}}" task="task" id="{{task.id}}">
            <div class="row-fluid">
	            <p class="span11"><span>{{task.title}}</span></p>
	            <button class="btn btn-large close pull-right" ng-click="deleteTask(task.id)">&times;</button>
	        </div>
            <hr/>
            <div class="row-fluid">
	            <p><span class="span1">{{task.points}}</span><em class="pull-right"><strong>{{task.assignedTo}}</strong></em></p>
        	</div>
        </task>
    </li>
</ul>