<div ng-controller="TaskController">
<span class="story-title">{{title}}</span>
<span class="task-progress-status pull-right">{{doneTasks.length}} / {{tasks.length}} tasks completed</span>
<br/>
<div class="form-actions">
    <div class="input-append">
        <form ng-submit="addTask(taskCreationString);">
            <input class="span3" ng-model="taskCreationString" size="16" type="text" placeholder="Format: {Title} {Effort}">
            <button class="btn btn-success" type="button" ng-disabled="!taskCreationString" ng-click="addTask(taskCreationString);">Add Task</button>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3"><task-status status="statuses.todo" tasks="todoTasks" title="titles.todo"></task-status></div>
        <div class="span3"><task-status status="statuses.impeded" tasks="impededTasks" title="titles.impeded"></task-status></div>
        <div class="span3"><task-status status="statuses.inProgress" tasks="inProgressTasks" title="titles.inProgress"></task-status></div>
        <div class="span3"><task-status status="statuses.done" tasks="doneTasks" title="titles.done"></task-status></div>
    </div>
</div>
</div>